html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 14px;
    box-sizing: border-box;
    background: #555;
    color: #fff;
}

html, body, input {
    font: 12px / 24px "Space Mono", monospace;
}

input, label {
    cursor: pointer;
}

#form label {
    display: block;
}

#controls {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
#controls.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.control {
    padding-right: 10px;
}
.control-sort {
    flex-basis: 100%;
}

#result-wrap {
    overflow-x: auto;
    padding: 3px 5px;
    background: #444;
}

#result {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 100%;
    min-height: 100px;
    box-sizing: border-box;
}
#result.no-debug .level-debug,
#result.no-log .level-log,
#result.no-warn .level-warn,
#result.no-error .level-error {
    display: none;
}
#result.desk {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.line {
    display: flex;
    border-bottom: 1px dotted #747474;
    cursor: pointer;
}
.level-debug {
    color: #b8b8b8;
}
.level-log {}
.level-warn {
    color: #ffbd00;
}
.level-error {
    background: #a40000;
}

.line-time {
    color: #bbb;
    white-space: nowrap;
    width: 200px;
}
.line-data {
    white-space: nowrap;
}
.line.wrap .line-data {
    white-space: normal;
    width: calc(100vw - 238px);
}

